//====================== Main Screen ===============================

.main-screen {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/images/main/01.jpg') no-repeat center/cover;

    // .main-screen__wrapper
    &__wrapper {
        padding: 100px 0px 50px 0px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    // .main-screen__content
    &__content {
        margin: 0px 0px 50px 0px;
    }
    // .main-screen__title
    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 84, 40, 1);
        line-height: 130%;
        color: #FFFFFF;
        max-width: 900px;
        margin: 0px 0px calc(16px/84px*1em) 0px;
    }
    // .main-screen__subtitle
    &__subtitle {
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 24, 20, 1);
        line-height: 115%;
        color: #FFFFFF;
    }
    // .main-screen__form
    &__form {
    }
}

.form-main {
    // .form-main__body
    &__body {
        max-width: 1205px;
        height: 215px;
        display: flex;
        position: relative;

        @media (min-width: #{$md4 + px}) {
            &::before {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                overflow: visible;
                z-index: 3;
                position: absolute;
                top: 0;
                right: 100%;
                background-color: #FFFFFF;
            }
        }

        @media (max-width: #{$md4 + px}) {
            flex-direction: column;
            border-radius: 20px;
            height: fit-content;
        }
    }
    // .form-main__inputs
    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        padding: 0px 100px 0px 0px;

        @media (max-width: #{$md2 + px}) {
            align-content: space-evenly;
            padding: 0px 10% 0px 0px;
        }

        @media (max-width: #{$md4 + px}) {
            padding: 20px 20px 80px 20px;
            gap: 40px;
            border-radius: 20px 20px 0px 0px;
        }

        label {
            font-style: normal;
            font-weight: 400;
            @include adaptiv-value('font-size', 16, 14, 1);
            line-height: 120%;
            text-transform: uppercase;
            color: #767E86;
            margin: 0px 0px calc(6px/16px*1em) 0px;
        }

        input, select {
            height: 37px;
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            @include adaptiv-value('font-size', 20, 14, 1);
            line-height: 135%;
            color: #172432;
            border-bottom: 1px black solid;
            background-color: #FFFFFF;

            &::placeholder {
                color: #172432;
            }
        }
    }
    // .form-main__column
    &__column {
        display: flex;
        flex-direction: column;
        width: 22%;

        @media (max-width: #{$md2 + px}) {
            width: 45%;
        }

        @media (max-width: #{$md4 + px}) {
            width: 100%;
        }

    }
    // .form-main__destination
    &__destination {
    }
    // .form-main__travelers
    &__travelers {
    }
    // .form-main__checkin
    &__checkin {
    }
    // .form-main__checkout
    &__checkout {
    }
    // .form-main__submit
    &__submit {
    }
}

.submit-main {
    height: 100%;
    max-width: 170px;
    padding: 0px 20px;
    background-color: $mainColor;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: $secondaryColor;
        }
    }

    @media (max-width: #{$md4 + px}) {
        height: 128px;
        max-width: 100%;
        border-radius: 0px 0px 20px 20px;
    }

    // .submit-main__btn
    &__btn {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        height: 100%;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        background-color: transparent;

        &._icon-arrow::before {
            font-size: 18px;
        }

        @media (max-width: #{$md4 + px}) {
            height: 128px;
            width: 100%;
        }
    }
}

//====================== Popular Destinations ===============================

.destinations {
    @include adaptiv-value('padding-top', 100, 50, 1);
    @include adaptiv-value('padding-bottom', 100, 50, 1);
    // .destinations__container
    &__container {
    }
    // .destinations__text
    &__text {
        max-width: 75%;

        @media (max-width: #{$md3 + px}) {
            max-width: 100%;
        }
    }
    // .destinations__title
    &__title {
    }
    // .destinations__description
    &__description {
    }
    // .destinations__slider
    &__slider {
        min-width: 0;
    }
}

.slider-dest {
    @include adaptiv-value('margin-top', 75, 50, 1);
    position: relative;

    @media (max-width: #{$md3 + px}) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    // .slider-dest__arrows
    &__arrows {
        @media (min-width: #{$md3 + px}) {
            position: absolute;
            right: 0;
            @include adaptiv-value('top', -75, -50, 1);
            transform: translate(0px, -100%);
        }
    }
    // .slider-dest__body
    &__body {
        overflow: visible;
    }
    // .slider-dest__wrapper
    &__wrapper {
    }
    // .slider-dest__slide
    &__slide {
        position: relative;
        overflow: hidden;
        border-radius: 26px;
        width: 375px;
        height: 500px;

        @media (max-width: #{$md3 + px}) {
            width: 100%;
            @include adaptiv-value('height', 450, 320, 1);
        }
    }
    // .slider-dest__image
    &__image {
        height: 100%;
        width: 100%;

        img {
            transform: scale(1);
            transition: all 0.7s ease 0.1s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 119, 87, 0.1);
            z-index: 2;
            pointer-events: none;
        }
    }
    // .slider-dest__content
    &__content {
        position: absolute;
        bottom: 40px;
        left: 24px;
        pointer-events: none;
    }
    // .slider-dest__title
    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
        @include adaptiv-value('font-size', 28, 24, 1);
        @include adaptiv-value('line-height', 37, 32, 1);
        color: #FFFFFF;
        &:not(:last-child) {
            margin: 0px 0px calc(16px/28px * 1em) 0px;
        }
    }
    // .slider-dest__location
    &__location {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 24, 18, 1);
        @include adaptiv-value('line-height', 28, 21, 1);
        color: #FFFFFF;
        display: flex;
        gap: 16px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

//====================== Special Offer ===============================

.offer {
    @include adaptiv-value('padding-top', 100, 50, 1);
    @include adaptiv-value('padding-bottom', 100, 50, 1);
    // .offer__container
    &__container {
    }
    // .offer__text
    &__text {
        @media (min-width: #{$md4 + px}) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    // .offer__title
    &__title {
        @media (min-width: #{$md4 + px}) {
            &::after {
                left: auto;
                right: 0;
            }
        }
    }
    // .offer__description
    &__description {
        max-width: 75%;
        @media (max-width: #{$md3 + px}) {
            max-width: 100%;
        }
        @media (min-width: #{$md4 + px}) {
            text-align: right;
        }
    }
    // .offer__slider
    &__slider {
        min-width: 0;
    }
}

.slider-offer {
    @include adaptiv-value('margin-top', 75, 50, 1);
    position: relative;
    @media (max-width: #{$md3 + px}) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    // .slider-offer__arrows
    &__arrows {
        @media (min-width: #{$md3 + px}) {
            position: absolute;
            left: 0;
            @include adaptiv-value('top', -75, -50, 1);
            transform: translate(0px, -100%);
        }
    }
    // .slider-offer__body
    &__body {
        max-width: 100%;
    }
    // .slider-offer__wrapper
    &__wrapper {
    }
    // .slider-offer__slide
    &__slide {
        border-radius: 26px;
        overflow: hidden;
    }
    // .slider-offer__image
    &__image {
        display: block;
        width: 100%;
        height: 286px;
        position: relative;
        overflow: hidden;

        img {
            transform: scale(1);
            transition: all 0.7s ease 0.1s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 119, 87, 0.1);
            z-index: 2;
            pointer-events: none;
        }

    }
    // .slider-offer__label
    &__label {
        @include adaptiv-value('padding-top', 40, 20, 1);
        @include adaptiv-value('padding-bottom', 40, 20, 1);
        @include adaptiv-value('padding-left', 24, 20, 1);
        @include adaptiv-value('padding-right', 24, 20, 1);
        background-color: #FFF8F1;
    }
}

.label-offer {
    // .label-offer__title
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        color: #767E86;
        margin: 0px 0px calc(8px/28px * 1em) 0px;
    }
    // .label-offer__rating
    &__rating {
        font-size: 24px;
        color: #FFC107;
    }
    // .label-offer__text
    &__text {
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 18, 16, 1);
        line-height: 117%;
        color: #172432;
        margin: calc(24px/18px * 1em) 0px;
    }
    // .label-offer__footer
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    // .label-offer__price
    &__price {
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 20, 18, 1);
        font-size: 20px;
        line-height: 120%;
        color: #767E86;
        display: flex;
        gap: 8px;
        align-items: center;

        span {
            font-style: normal;
            font-weight: 400;
            @include adaptiv-value('font-size', 40, 32, 1);
            line-height: 120%;
            color: #FF7757;
        }
    }
    // .label-offer__btn
    &__btn {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }
}

//========================= Our Blog =================================

.blog {
    @include adaptiv-value('padding-top', 100, 50, 1);
    @include adaptiv-value('padding-bottom', 100, 50, 1);
    // .blog__container
    &__container {
    }
    // .blog__text
    &__text {
    }
    // .blog__title
    &__title {
    }
    // .blog__description
    &__description {
    }
    // .blog__content
    &__content {
        @include adaptiv-value('padding-top', 100, 50, 1);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        width: 100%;

        @media (max-width: #{$md3 + px}) {
            grid-template-columns: 1fr;
        }
    }
    // .blog__image
    &__image {
        border-radius: 26px;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 26px;
            background: rgba(0, 0, 0, 0.2);
            z-index: 2;
            pointer-events: none;
        }

        @media (max-width: #{$md3 + px}) {
            @include adaptiv-value('height', 800, 315, 1);
        }

    }
    // .blog__article
    &__article {
    }
}
.article-blog {
    @media (min-width: #{$md3 + px}) {
        @include adaptiv-value('padding-top', 45, 25, 1);
        @include adaptiv-value('padding-bottom', 45, 25, 1);
    }

    // .article-blog__title
    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 54, 40, 1);
        font-size: 54px;
        line-height: 133%;
        color: #172432;
    }
    // .article-blog__text
    &__text {
        font-style: normal;
        font-weight: 400;
        @include adaptiv-value('font-size', 24, 18, 1);
        line-height: 215%;
        color: #172432;
        margin: 24px 0px;
        text-align: justify;
    }
    // .article-blog__link
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 52px;
        color: $mainColor;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        transition: color 0.3s ease 0s;

        &::before {
            color: $mainColor;
            font-size: 14px;
            transition: color 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
                &::before {
                    color: $secondaryColor;
                }
            }
        }
    }
}

//======================== Trip Planners ================================

//===================== Destination Gallery =============================

.gallery {
    @include adaptiv-value('padding-top', 100, 50, 1);
    @include adaptiv-value('padding-bottom', 100, 50, 1);
    // .gallery__container
    &__container {
    }
    // .gallery__header
    &__header {
    }
    // .gallery__title
    &__title {
    }
    // .gallery__description
    &__description {
    }
    // .gallery__slider
    &__slider {
        min-width: 0;
    }
}

.slider-gallery {
    @include adaptiv-value('margin-top', 75, 50, 1);
    position: relative;
    @media (max-width: #{$md3 + px}) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    // .slider-gallery__arrows
    &__arrows {
        @media (min-width: #{$md3 + px}) {
            position: absolute;
            right: 0;
            @include adaptiv-value('top', -75, -50, 1);
            transform: translate(0px, -100%);
        }
    }
    // .slider-gallery__body
    &__body {
        width: 100%;
    }
    // .slider-gallery__wrapper
    &__wrapper {
    }
    // .slider-gallery__slide
    &__slide {
        border-radius: 26px;
        overflow: hidden;
        @media (min-width: #{$md3 + px}) {  
            margin: 35px 0px;
            transition: transform 0.5s ease 0s;
            transform: translate(0, 0);
        }

        @media (any-hover: hover) and (min-width: #{$md3 + px}) {
            &:hover {
                transform: translate(0, -35px);
            }
        }
    }
    // .slider-gallery__image
    &__image {
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            z-index: 2;
            pointer-events: none;
        }

        @media (max-width: #{$md3 + px}) {
            width: 100%;
            @include adaptiv-value('height', 570, 320, 1);
        }
    }
}

//==================== Traveler’s Experiences ============================

.reviews {
    @include adaptiv-value('padding-top', 100, 50, 1);
    @include adaptiv-value('padding-bottom', 100, 50, 1);
    // .reviews__container
    &__container {
    }
    // .reviews__header
    &__header {
    }
    // .reviews__title
    &__title {
    }
    // .reviews__description
    &__description {
    }
    // .reviews__slider
    &__slider {
        min-width: 0;
    }
}

.slider-reviews {
    // .slider-reviews__body
    &__body {
        @include adaptiv-value('margin-top', 120, 75, 1);
        @include adaptiv-value('margin-bottom', 100, 50, 1);
        overflow: visible;
    }
    // .slider-reviews__wrapper
    &__wrapper {
    }
    // .slider-reviews__slide
    &__slide {
        @include adaptiv-value('max-width', 650, 290, 1);
        @media (max-width: #{$md4 + px}) {
            max-width: 100%;
        }
        position: relative;
    }
    // .slider-reviews__image
    &__image {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 40px;
        transform: translate(0, -50%);

        @media (max-width: #{$md4 + px}) {
            left: 20px;
        }
    }
    // .slider-reviews__content
    &__content {
        background-color: #F5F6F7;
        padding: 60px 40px 40px;

        @media (max-width: #{$md4 + px}) {
            padding: 60px 20px 32px;
        }
    }
    // .slider-reviews__text
    &__text {
        text-align: justify;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 128%;
        color: #767E86;
    }
    // .slider-reviews__rating
    &__rating {
        font-size: 24px;
        color: #FFC107;
        margin: 20px 0px;
    }
    // .slider-reviews__name
    &__name {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #767E86;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    // .slider-reviews__position
    &__position {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #767E86;
    }
    // .slider-reviews__arrows
    &__arrows {
        justify-content: flex-end;
        @media (max-width: #{$md3 + px}) {
            justify-content: center;
        }
    }
}