$fontfamily: 'Rubik', sans-serif;
$minwidth: 320px;

$maxWidthContainer: 1620;
$md1: 1620 + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #ff7757;
$secondaryColor: #172432;

@import 'mixins';
@import 'iconsfont';
@import 'normalizer';
@import 'fonts';
@import 'ibg';
@import 'style';
@import 'header';
@import 'main';
@import 'footer';
@import 'baguetteBox';
