<footer class="footer">
   <div class="footer__container container">
      <div class="footer__body">
         <div class="footer__column">
            <div class="footer__logo _icon-logo"></div>
            <div class="footer__copy">Copyright © Travellian 2023 All rights reserved</div>
         </div>
         <div class="footer__column">
            <div class="footer__title">Menu</div>
            <ul class="footer__list">
               <li>
                  <a href="#" class="footer__link">Home</a>
               </li>
               <li>
                  <a href="#" class="footer__link">Explore</a>
               </li>
               <li>
                  <a href="#" class="footer__link">Travel</a>
               </li>
               <li>
                  <a href="#" class="footer__link">Blog</a>
               </li>
               <li>
                  <a href="#" class="footer__link">Pricing</a>
               </li>
            </ul>
         </div>
         <div class="footer__column"></div>
         <div class="footer__column"></div>
         <div class="footer__column"></div>
      </div>
   </div>
</footer>