<header class="header">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__body">
        <div class="header__main main-header">
          <a href="#" class="main-header__logo _icon-logo"></a>
          <div class="main-header__menu menu-header">
            <nav class="menu-header__body">
              <ul class="menu-header__list">
                <li>
                  <a href="#" class="menu-header__item _link">Home</a>
                </li>
                <li>
                  <a href="#" class="menu-header__item _link">Explore</a>
                </li>
                <li>
                  <a href="#" class="menu-header__item _link">Travel</a>
                </li>
                <li>
                  <a href="#" class="menu-header__item _link">Blog</a>
                </li>
                <li>
                  <a href="#" class="menu-header__item _link">Pricing</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="main-header__login login-header">
            <ul class="login-header__list">
              <li>
                <a href="#" class="login-header__link _link">Login</a>
              </li>
              <li>
                <a href="#" class="login-header__link _btn">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__mobile mobile-header">
          <div class="mobile-header__logo _icon-logo"></div>
          <button type="button" class="icon-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>