<header class="header">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__body">
        <div class="header__logo">
          <img src="assets/icons/Logo.svg" alt="">
        </div>
        <div class="header__main main-header">
          <div class="main-header__logo">
            <img src="assets/icons/Logo.svg" alt="">
          </div>
          <div class="main-header__menu menu-header"></div>
          <div class="main-header__login"></div>
        </div>
        <button type="button" class="icon-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <!-- <h2>HEADER</h2>
  <div class="header__menu menu">
    <nav class="menu__body">
      <ul  class="menu__list">
        <li class="menu__item">
          <a href="index.html"  class="menu__link">HOME</a>
        </li>
        <li class="menu__item">
          <a href="about.html"  class="menu__link">ABOUT</a>
        </li>
      </ul>
    </nav>
  </div> -->
  

</header>