<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="wrapper">
      <main class="page">
        <!-- header -->
        <%= require('partials/header.html?raw') %>

        <div class="main-screen"></div>
      </main>

      <!-- <img src="<%= require('./assets/images/main/01.jpg') %>" alt="" width="400px"> -->

      <!-- footer -->
      <%= require('partials/footer.html?raw') %>
    </div>
  </body>
</html>
