<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="wrapper">
      <main class="page">
        <!-- header -->
        <%= require('partials/header.html?raw') %>

        <div class="main-screen">
          <div class="main-screen__container container">
            <div class="main-screen__wrapper">
              <div class="main-screen__content">
                <h1 class="main-screen__title">Start your unforgettable journey with us.</h1>
                <h2 class="main-screen__subtitle">The best travel for your journey begins now</h2>
              </div>
              <div class="main-screen__form form-main">
                <form action="GET" class="form-main__body">
                  <div class="form-main__inputs">
                    <div class="form-main__column">
                      <label for="destination">Destination</label>
                      <input type="text" name="destination" id="destination" class="form-main__destination" placeholder="Dubai">
                    </div>
                    <div class="form-main__column">
                      <label for="travelers">Travelers</label>
                      <select name="travelers" id="travelers"  class="form-main__travelers">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div class="form-main__column">
                      <label for="checkin">Check in</label>
                      <input type="date" name="checkin" id="checkin" class="form-main__checkin" value="2023-09-17">
                    </div>
                    <div class="form-main__column">
                      <label for="checkout">Check out</label>
                      <input type="date" name="checkin" id="checkin" class="form-main__checkout" value="2023-10-17">
                    </div>
                  </div>
                  <div class="form-main__submit submit-main">
                    <button type="submit" class="submit-main__btn _icon-arrow">Book Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <section class="destinations">
          <div class="destinations__container container">
            <div class="destinations__text">
              <h3 class="destinations__title _section-title">Popular Destinations</h3>
              <p class="destinations__description _section-description">
                Most popular destinations around the world, from historical places to natural wonders.
              </p>
            </div>
            <div class="destinations__slider slider-dest">
              <div class="slider-dest__arrows slider-arrows">
                <button type="button" class="slider-arrow slider-arrow_prev _icon-chevron"></button>
                <button type="button" class="slider-arrow slider-arrow_next _icon-chevron"></button>
              </div>
              <div class="slider-dest__body swiper">
                <div class="slider-dest__wrapper swiper-wrapper">
                  <div class="swiper-slide slider-dest__slide">
                    <a href="" class="slider-dest__image">
                      <img src="<%= require('./assets/images/dest/01.jpg') %>" alt="image">
                    </a>
                    <div class="slider-dest__content">
                      <div class="slider-dest__title">Monument of Berlin</div>
                      <div class="slider-dest__location">
                        <img src="<%= require('./assets/images/icons/location.png') %>" alt="icon">
                        <p>Berlin, Germany</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-dest__slide swiper-slide">
                    <a href="" class="slider-dest__image">
                      <img src="<%= require('./assets/images/dest/02.jpg') %>" alt="image">
                    </a>
                    <div class="slider-dest__content">
                      <div class="slider-dest__title">Millennium Bridge</div>
                      <div class="slider-dest__location">
                        <img src="<%= require('./assets/images/icons/location.png') %>" alt="icon">
                        <p>London, United Kingdom</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-dest__slide swiper-slide">
                    <a href="" class="slider-dest__image">
                      <img src="<%= require('./assets/images/dest/03.jpg') %>" alt="image">
                    </a>
                    <div class="slider-dest__content">
                      <div class="slider-dest__title">Rialto Bridge</div>
                      <div class="slider-dest__location">
                        <img src="<%= require('./assets/images/icons/location.png') %>" alt="icon">
                        <p>Venice, Italy</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-dest__slide swiper-slide">
                    <a href="" class="slider-dest__image">
                      <img src="<%= require('./assets/images/dest/04.jpg') %>" alt="image">
                    </a>
                    <div class="slider-dest__content">
                      <div class="slider-dest__title">Sea of Orange Tiles</div>
                      <div class="slider-dest__location">
                        <img src="<%= require('./assets/images/icons/location.png') %>" alt="icon">
                        <p>Lisbon, Portugal</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider-dest__slide swiper-slide">
                    <a href="" class="slider-dest__image">
                      <img src="<%= require('./assets/images/dest/05.jpg') %>" alt="image">
                    </a>
                    <div class="slider-dest__content">
                      <div class="slider-dest__title">Maidan Nezalezhnosti</div>
                      <div class="slider-dest__location">
                        <img src="<%= require('./assets/images/icons/location.png') %>" alt="icon">
                        <p>Kyiv, Ukraine</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="offer">
          <div class="offer__container container">
            <div class="offer__text">
              <h3 class="offer__title _section-title">Special Offer</h3>
              <p class="offer__description _section-description">
                Check out our special offer and discounts
              </p>
            </div>
            <div class="offer__slider slider-offer">
              <div class="slider-offer__arrows slider-arrows">
                <button type="button" class="slider-arrow slider-arrow_prev _icon-chevron"></button>
                <button type="button" class="slider-arrow slider-arrow_next _icon-chevron"></button>
              </div>
              <div class="slider-offer__body swiper">
                <div class="slider-offer__wrapper swiper-wrapper">
                  <div class="swiper-slide slider-offer__slide">
                    <a href="" class="slider-offer__image">
                      <img src="<%= require('./assets/images/offer/01.jpg') %>" alt="image">
                    </a>
                    <div class="slider-offer__label label-offer">
                      <div class="label-offer__title">Lisbon, Portugal</div>
                      <div class="label-offer__rating">
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                      </div>
                      <div class="label-offer__text">
                        5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                      </div>
                      <div class="label-offer__footer">
                        <div class="label-offer__price">From <span>€500</span></div>
                        <button class="label-offer__btn _btn">Details</button>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide slider-offer__slide">
                    <a href="" class="slider-offer__image">
                      <img src="<%= require('./assets/images/offer/02.jpg') %>" alt="image">
                    </a>
                    <div class="slider-offer__label label-offer">
                      <div class="label-offer__title">Athens, Greece</div>
                      <div class="label-offer__rating">
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                      </div>
                      <div class="label-offer__text">
                        5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                      </div>
                      <div class="label-offer__footer">
                        <div class="label-offer__price">From <span>€800</span></div>
                        <button class="label-offer__btn _btn">Details</button>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide slider-offer__slide">
                    <a href="" class="slider-offer__image">
                      <img src="<%= require('./assets/images/offer/03.jpg') %>" alt="image">
                    </a>
                    <div class="slider-offer__label label-offer">
                      <div class="label-offer__title">Rome, Italy</div>
                      <div class="label-offer__rating">
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                        <span class="_icon-star"></span>
                      </div>
                      <div class="label-offer__text">
                        5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                      </div>
                      <div class="label-offer__footer">
                        <div class="label-offer__price">From <span>€750</span></div>
                        <button class="label-offer__btn _btn">Details</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="blog">
          <div class="blog__container container">
            <div class="blog__text">
              <h3 class="blog__title _section-title">Our Blog</h3>
              <p class="blog__description _section-description">
                An insight the incredible experience in the world
              </p>
            </div>
            <div class="blog__content">
              <div class="blog__image _ibg">
                <img src="<%= require('./assets/images/blog/01.jpg') %>" alt="image">
              </div>
              <div class="blog__article article-blog">
                <div class="article-blog__title">
                  <p>Beautiful Italy</p>
                  <p>Let&#8217s travel</p>
                </div>
                <div class="article-blog__text">
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness. No one rejects, dislike, or avoids plasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremly painful. Nor again is there anyone who loves or pursues.
                </div>
                <a href="" class="article-blog__link _icon-arrow">Read More</a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- <img src="<%= require('./assets/images/main/01.jpg') %>" alt=""> -->

      <!-- footer -->
      <%= require('partials/footer.html?raw') %>
    </div>
  </body>
</html>
